/* style.css - todo list project */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: Arial, san-serif;
  color: black;
  background: white;
}

h1 {
  font-size: 3em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.5em;
}

/**
 * NOTE: The following has been calibrated to have a centered 
*        content/container over all the devices.
 **/
:root {
  --max-width: 1440px;
  --variable-width: 95%;
  --height-value: 95dvh;
  --height-margin-centered: calc(calc(100dvh - var(--height-value)) / 2);
  --internal-container-spacing: 0.2em;

  --input-widgets-spacing: 0.3em;
  --container-border-radius: 0.5em;
  --bgcolor: #1e4f14;
  --form-border: 0.15em solid var(--bgcolor);
  --card-border: 2px solid var(--bgcolor);
  /* --css_visual_border_guide: 1px solid MediumVioletRed; */
  --css_visual_border_guide: 1px solid transparent;
}

.main.container {
  width: var(--variable-width);
  max-width: var(--max-width);
  height: var(--height-value);
  margin: var(--height-margin-centered) auto;
  padding: var(--internal-container-spacing);
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-template-areas:
    "header header header header header header header header"
    "left left content content content content content content";
  border: var(--css_visual_border_guide);
}

.top.container {
  grid-area: header;
  grid-column: 1 / span 8;
  grid-row: 1 / span 1;
  padding: 1.5em;
  padding-left: 15em;
  padding-right: 15em;
  border-top-left-radius: var(--container-border-radius);
  border-top-right-radius: var(--container-border-radius);
  margin-bottom: var(--internal-container-spacing);
  background-image: linear-gradient(
    to bottom,
    var(--bgcolor) 0%,
    rgba(30, 79, 20, 0.7) 90%,
    rgba(0, 0, 0, 0) 100%
  );
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.left.container {
  grid-area: left;
  grid-column: 1 / span 2;
  grid-row: 2 / span 11;
  padding: 0.3em;
  border-bottom-left-radius: var(--container-border-radius);
  border: var(--css_visual_border_guide);
}

.content.container {
  grid-area: content;
  grid-column: 3 / span 6;
  grid-row: 2 / span 11;
  margin-left: var(--internal-container-spacing);
  border-bottom-right-radius: var(--container-border-radius);
  border: var(--css_visual_border_guide);
}

#appName {
  text-align: center;
  background: transparent;
  color: white;
  /* font-size: clamp(1.8rem, calc(7vw + 1rem), 3rem); */
}

legend {
  margin-left: var(--input-widgets-spacing);
  padding: 0 0.2em;
  border: var(--form-border);
}

fieldset {
  border: var(--form-border);
}

.createProject.container,
.createTask.container {
  display: flex;
  flex-direction: column;
}

.createProject.container,
.createTask.container,
.display.container {
  margin-bottom: 0.5em;
}

.input.create.container {
  display: flex;
  flex-direction: column;
  padding: var(--input-widgets-spacing);
}

div.taskPriority.listContainer {
  margin-left: calc(var(--input-widgets-spacing) * 2);
}

.task.input.container,
.project.input.container,
.dropDown.container {
  display: flex;
  flex-direction: column;
  gap: var(--input-widgets-spacing);
}

.duedate.input.container {
  margin-top: var(--input-widgets-spacing);
  margin-bottom: var(--input-widgets-spacing);
}

#projectSubmitBtnDiv,
#taskSubmitBtnDiv {
  margin-top: calc(var(--input-widgets-spacing) * 2.5);
  margin-bottom: calc(var(--input-widgets-spacing) * 2);
}

.dropDown.container {
  margin-bottom: calc(var(--input-widgets-spacing) * 2);
}

#displayDropDown {
  padding: 0.3em;
}

#dueDateCalender {
  margin-bottom: 0.4em;
}

#newProjectName,
#projectIdForTaskDropDown,
#taskDueDate,
#taskName,
#taskDesc,
#displayItemsOptions {
  height: 1.6em;
  padding: 0.2em;
  border: 2px solid black;
}

#projectIdForTaskDropDown,
#taskDueDate,
#displayItemsOptions {
  height: 1.8em;
}

.taskPriority.listContainer {
  margin: 0.2em 0;
}

button {
  height: 2em;
  display: inline-block;
  padding: 5px 5px;
  font-size: 17px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: var(--bgcolor);
  border: none;
  border-radius: 1px;
}

.display.project.section {
  display: flex;
  flex-direction: column;
  padding: var(--input-widgets-spacing);
  /* border: var(--css_visual_border_guide); */
}

.display.project.div.card {
  width: 24.6%;
  display: flex;
  flex-direction: column;
  gap: var(--input-widgets-spacing);
  padding: 0.2em;
  border: var(--card-border);
}

.display.project.card.para {
  font-size: 1.2rem;
  font-weight: 600;
}

.display.project.subSection.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: var(--input-widgets-spacing);
  gap: var(--input-widgets-spacing);
  border: var(--css_visual_border_guide);
}

.remove.project,
.remove.task {
  background: #751b00;
}

.display.task.subSection.div.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 79vh;
  padding: calc(var(--input-widgets-spacing) * 1.5);
  padding-top: 0;
  padding-bottom: 0;
  gap: calc(var(--input-widgets-spacing) * 2);
  overflow-y: scroll;
  border: var(--css_visual_border_guide);
}

.display.task.item.div.card {
  display: flex;
  flex-direction: column;
  width: min(255px, 275px);
  height: max-content; /* do not expand div */
  font-size: 0.5em;
  padding: var(--input-widgets-spacing);
  border: var(--card-border);
  gap: var(--input-widgets-spacing);
  background-color: #ededed;
}

.display.label {
  background-color: transparent;
}

p.display.value.task.priority.para.urgent {
  background-color: #ff0000;
  color: white;
}

p.display.value.task.priority.para.important {
  background-color: #ffd580;
}

p.display.value.task.priority.para.normal {
  background-color: #7dff00;
  /* color: white; */
}

button.completed.display.Complete {
  background-color: #00ffff;
  color: black;
}

button.completed.display.Incomplete {
  /* background-color: #ff9d00; */
  background-color: #f0dd00;
  color: black;
}

.display.value.task.card.para {
  padding-left: 0.2em;
  padding-right: 0.2em;
  border: 1px solid rgba(36, 36, 36, 0.2);
}

.task.display.info {
  font-size: 1rem;
  font-weight: 600;
}
