/* style.css - todo list project */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: Arial, san-serif;
  color: black;
  background: white;
}

h1 {
  font-size: 3em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.5em;
}

/**
 * NOTE: The following has been calibrated to have a centered 
*        content/container over all the devices.
 **/
:root {
  --max-width: 1440px;
  --variable-width: 95%;
  --height-value: 95dvh;
  --height-margin-centered: calc(calc(100dvh - var(--height-value)) / 2);
  --internal-container-spacing: 0.2em;

  --input-widgets-spacing: 0.3em;
  --container-border-radius: 0.5em;
  --bgcolor: #1e4f14;
  --form-border: 0.15em solid var(--bgcolor);
  --card-border: 2px solid var(--bgcolor);
  /* --css_visual_border_guide: 1px solid MediumVioletRed; */
  --css_visual_border_guide: 1px solid transparent;
}

.main.container {
  width: var(--variable-width);
  max-width: var(--max-width);
  height: var(--height-value);
  margin: var(--height-margin-centered) auto;
  padding: var(--internal-container-spacing);
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-template-areas:
    "header header header header header header header header"
    "left left content content content content content content";
  border: var(--css_visual_border_guide);
}

.top.container {
  grid-area: header;
  grid-column: 1 / span 8;
  grid-row: 1 / span 1;
  padding: 1.5em;
  padding-left: 15em;
  padding-right: 15em;
  border-top-left-radius: var(--container-border-radius);
  border-top-right-radius: var(--container-border-radius);
  margin-bottom: var(--internal-container-spacing);
  background-image: linear-gradient(
    to bottom,
    var(--bgcolor) 0%,
    rgba(30, 79, 20, 0.7) 90%,
    rgba(0, 0, 0, 0) 100%
  );
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.left.container {
  grid-area: left;
  grid-column: 1 / span 2;
  grid-row: 2 / span 11;
  border-bottom-left-radius: var(--container-border-radius);
  border: var(--css_visual_border_guide);
}

.content.container {
  grid-area: content;
  grid-column: 3 / span 6;
  grid-row: 2 / span 11;
  margin-left: var(--internal-container-spacing);
  border-bottom-right-radius: var(--container-border-radius);
  border: var(--css_visual_border_guide);
}

#appName {
  text-align: center;
  background: transparent;
  color: white;
  /* font-size: clamp(1.8rem, calc(7vw + 1rem), 3rem); */
}
legend {
  margin-left: var(--input-widgets-spacing);
  padding: 0 0.2em;
  border: var(--form-border);
}

fieldset {
  border: var(--form-border);
}

.createProject.container,
.createTask.container {
  display: flex;
  flex-direction: column;
}

.createProject.container,
.createTask.container,
.display.container {
  margin-bottom: 0.5em;
}

.input.create.container {
  display: flex;
  flex-direction: column;
  padding: var(--input-widgets-spacing);
}

div.taskPriority.listContainer {
  margin-left: calc(var(--input-widgets-spacing) * 2);
}

